body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #1b1b1b;
  font-family: sans-serif;
  color: white;
}

canvas { display: block; }

#counter {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
}
